@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .lines{
    @apply h-1 w-7 bg-white rounded absolute;
  }
}
.line-1{
  top: 0;
}
.line-1.open{
  animation: line1open 250ms ease forwards;
}
.line-1.close {
  animation: line1close 250ms ease forwards;
}
.line-2{
  top: 50%;
  transform: translateY(-50%);
}
.line-3{
  bottom: 0;
}
.line-3.open{
  animation: line3open 250ms ease forwards;
}
.line-3.close {
  animation: line3close 250ms ease forwards;
}
@keyframes line1open {
  0%{
    top: 0;
  }
  100%{
    top: 50%;
    transform: translateY(-50%);
  }
}
@keyframes line1close {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 0;
  }
}
@keyframes line3open {
  0%{
    bottom: 0%;
  }
  100%{
    bottom: 50%;
    transform: translateY(50%);
  }
}
@keyframes line3close {
  0% {
    bottom: 50%;
    transform: translateY(50%);
  }
  100% {
    bottom: 0%;
  }
}
:root{

  --nav-height : 100px;

  --grey-900 : #131927;
  --grey-800 : #212936;
  --grey-700 : #394050;
  --grey-600 : #4D5461;
  --grey-500 : #6D717F;
  --grey-400 : #9EA2AE;
  --grey-300 : #D2D5DB;
  --grey-200 : #E5E7EA;
  --grey-100 : #F3F4F6;

  --light-900 : rgba(255,255,255, 1);
  --light-800 : rgba(255,255,255, 0.9);
  --light-700 : rgba(255,255,255, 0.8);
  --light-600 : rgba(255,255,255, 0.7);
  --light-500 : rgba(255,255,255, 0.6);
  --light-400 : rgba(255,255,255, 0.5);
  --light-300 : rgba(255,255,255, 0.4);
  --light-200 : rgba(255,255,255, 0.3);
  --light-100 : rgba(255,255,255, 0.2);

  --black-900 : rgba(0,0,0,1);
  --black-800 : rgba(0,0,0, 0.9);;
  --black-700 : rgba(0,0,0, 0.8);;
  --black-600 : rgba(0,0,0, 0.7);;
  --black-500 : rgba(0,0,0, 0.6);;
  --black-400 : rgba(0,0,0, 0.5);;
  --black-300 : rgba(0,0,0, 0.4);;
  --black-200 : rgba(0,0,0, 0.3);;
  --black-100 : rgba(0,0,0, 0.2);;


  --primary-900 : #250509;
  --primary-800 : #5E0B12;
  --primary-700 : #8E101C;
  --primary-600 : #BD1625;
  --primary-500 : #EC1B2E;
  --primary-400 : #F04958;
  --primary-300 : #F47682;
  --primary-200 : #F7A4AB;
  --primary-100 : #FBD1D5;


  --sky-blue-grad : linear-gradient(109deg, #1B7DEC 0%, #65EDBC 100%)
}


/* Grey Colors */
.bg-grey-900 { background-color: var(--grey-900); }
.bg-grey-800 { background-color: var(--grey-800); }
.bg-grey-700 { background-color: var(--grey-700); }
.bg-grey-600 { background-color: var(--grey-600); }
.bg-grey-500 { background-color: var(--grey-500); }
.bg-grey-400 { background-color: var(--grey-400); }
.bg-grey-300 { background-color: var(--grey-300); }
.bg-grey-200 { background-color: var(--grey-200); }
.bg-grey-100 { background-color: var(--grey-100); }

/* Light Colors */
.bg-light-900 { background-color: var(--light-900); }
.bg-light-800 { background-color: var(--light-800); }
.bg-light-700 { background-color: var(--light-700); }
.bg-light-600 { background-color: var(--light-600); }
.bg-light-500 { background-color: var(--light-500); }
.bg-light-400 { background-color: var(--light-400); }
.bg-light-300 { background-color: var(--light-300); }
.bg-light-200 { background-color: var(--light-200); }
.bg-light-100 { background-color: var(--light-100); }

/* Black Colors */
.bg-black-900 { background-color: var(--black-900); }
.bg-black-800 { background-color: var(--black-800); }
.bg-black-700 { background-color: var(--black-700); }
.bg-black-600 { background-color: var(--black-600); }
.bg-black-500 { background-color: var(--black-500); }
.bg-black-400 { background-color: var(--black-400); }
.bg-black-300 { background-color: var(--black-300); }
.bg-black-200 { background-color: var(--black-200); }
.bg-black-100 { background-color: var(--black-100); }

/* Primary Colors */
.bg-primary-900 { background-color: var(--primary-900); }
.bg-primary-800 { background-color: var(--primary-800); }
.bg-primary-700 { background-color: var(--primary-700); }
.bg-primary-600 { background-color: var(--primary-600); }
.bg-primary-500 { background-color: var(--primary-500); }
.bg-primary-400 { background-color: var(--primary-400); }
.bg-primary-300 { background-color: var(--primary-300); }
.bg-primary-200 { background-color: var(--primary-200); }
.bg-primary-100 { background-color: var(--primary-100); }

/* Grey Colors */
.c-grey-900 { color: var(--grey-900); }
.c-grey-800 { color: var(--grey-800); }
.c-grey-700 { color: var(--grey-700); }
.c-grey-600 { color: var(--grey-600); }
.c-grey-500 { color: var(--grey-500); }
.c-grey-400 { color: var(--grey-400); }
.c-grey-300 { color: var(--grey-300); }
.c-grey-200 { color: var(--grey-200); }
.c-grey-100 { color: var(--grey-100); }

/* Light Colors */
.c-light-900 { color: var(--light-900); }
.c-light-800 { color: var(--light-800); }
.c-light-700 { color: var(--light-700); }
.c-light-600 { color: var(--light-600); }
.c-light-500 { color: var(--light-500); }
.c-light-400 { color: var(--light-400); }
.c-light-300 { color: var(--light-300); }
.c-light-200 { color: var(--light-200); }
.c-light-100 { color: var(--light-100); }

/* Black Colors */
.c-black-900 { color: var(--black-900); }
.c-black-800 { color: var(--black-800); }
.c-black-700 { color: var(--black-700); }
.c-black-600 { color: var(--black-600); }
.c-black-500 { color: var(--black-500); }
.c-black-400 { color: var(--black-400); }
.c-black-300 { color: var(--black-300); }
.c-black-200 { color: var(--black-200); }
.c-black-100 { color: var(--black-100); }

/* Primary Colors */
.c-primary-900 { color: var(--primary-900); }
.c-primary-800 { color: var(--primary-800); }
.c-primary-700 { color: var(--primary-700); }
.c-primary-600 { color: var(--primary-600); }
.c-primary-500 { color: var(--primary-500); }
.c-primary-400 { color: var(--primary-400); }
.c-primary-300 { color: var(--primary-300); }
.c-primary-200 { color: var(--primary-200); }
.c-primary-100 { color: var(--primary-100); }


/* Gradients */
.sky-blue-grad{
  background:  var(--sky-blue-grad);
}


/* Font Family: Anton */
.ff-anton {
  font-family: 'Anton', sans-serif;
}

/* Font Family: Archivo Narrow */
.ff-archivo-narrow {
  font-family: 'Archivo Narrow', sans-serif;
}

.ff-archivo-narrow-italic {
  font-family: 'Archivo Narrow', sans-serif;
  font-style: italic;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--light-700);
  font-family: 'Archivo Narrow', sans-serif;
}
.navbar-container{
  height: var(--nav-height);
  
}
.main-container{
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100dvh;
}
.section-container{
  min-height: calc(100dvh - var(--nav-height));
  height: auto;
  width: 100%;
  /* overflow: hidden; */
  background: rgba(0, 0, 0, 0.9);
  padding-inline: 0;
  padding-top: 32px;
  padding-bottom: 58px;
  background: var(--sky-blue-grad);
}
@media screen and (min-width:640px){
  .section-container{
    padding-inline: 44px;
  }
}
/* Slide-In Top */

.slide-in{
  position: fixed;
  top: 0;
  width: 33.5%;
  height: 100%;
  background-color: var(--black-900);
  transform-origin: bottom;
}
.slide-in-one {
  left: 0;
}

.slide-in-two {
  left: 33.5%;
}
.slide-in-three {
  display: none;
}
.slide-in-four{
  left: 67%;
}


.slide-out{
  position: fixed;
  top: 0;
  width: 33.5%;
  height: 100%;
  background-color: var(--black-900);
  transform-origin: top;
}

.slide-out-one {
  left: 0;
}

.slide-out-two {
  left: 33.5%;
}
.slide-out-three {
  display: none;
}
.slide-out-four {
  left: 67%;
}


@media screen and (min-width: 640px) {
  .slide-in,.slide-out{
    width: 25%;
  }
  .slide-in-two {
    left: 25%;
  }
  .slide-in-three {
    display: block;
    left: 50%;
  }
  .slide-in-four{
    left: 75%;
  }

  .slide-out-two {
    left: 25%;
  }
  .slide-out-three {
    display: block;
    left: 50%;
  }
  .slide-out-four {
    left: 75%;
  }
}





/* @media screen and (min-width: 640px) {
  body {
    background-color: lightgreen;
  }
} */
/* @media screen and (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-color: lightgreen;
  }
}
@media screen and (min-width: 1536px) {
  body {
    background-color: lightgreen;
  }
} */